:root {
    /* declare a variable with `--` syntax */
    --dark: #25211d;
    --dark-orange: rgb(185, 105, 7);  
    --light: #c9f3fa;
    /* we know its porange, perfect orange */
    --light-porange: #fda553;
}

body{
    background-color: var(--dark);
    background-image: url("images/space.jpg");
    background-size: cover;
}

.card{
    background-color: var(--dark-orange);
    color: var(--light);
}
.h1 h2 h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#photoButton {
    margin: 5px 0px 0px 0px;
}